/* .external{
    color: green;
    text-align: center;
    background-color: lightgrey;
}

.abs{
    align-items: center;
    text-align: center;
}

.absalute{
    position: absolute;
    
    background-color: orange;
}

.relative{
    position: relative;
    background-color: lightblue;
}

.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgreen;
    text-align: center;
}

header {
  position: sticky;
  top: 0; /* stick to top when scrolling */
  /* background: gold;
  padding: 10px;
} */

/* psedo::after{
    content: "This is after pseudo element";
    color: red;
}  */


a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;
    width: 100%;
}

img{
    max-width: 800px;
    width: 100%;   
}   